/* Text */
.text-big{
    -fx-font-size: 20px;
}

.text-yellow {
    -fx-text-fill: #f5c518;
}

.text-red {
    -fx-text-fill: #b8000f;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-genre {
    -fx-font-style: italic;
    -fx-text-fill: #ffffff;
}

/* Colors */
.background-black {
    -fx-background-color: #000000;
}

.background-white{
    -fx-background-color: #ffffff;
}

.background-light-black {
    -fx-background-color: #454545;
}

/* Elements */
JFXButton{
    -fx-background-color: #f5c518;
}

/* IDs */
#navigationMenu {
    -fx-view-order: -1;
    -fx-min-width: 200px;
}

#navigationMenu JFXButton {
    -fx-padding: 10px 0px;
    -fx-min-width: 200px;
    -fx-background-radius: 0;
}

/* Classes */
.movie-cell {
    -fx-background-color: #454545;
    -fx-padding: 4px 6px;
    -fx-background-radius: 5px;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}